<div class="footer-div">
  <p>Follow us on social media!</p>
  <div class="d-flex">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-tiktok"></i>
  </div>
</div>
