<div class="home-picture" style="background-image:url('<%= image_url('home_picture.jpeg') %>')">
  <div class="home-container">
    <div>
      <h1 class="home-title">Welcome to Artically</h1>
      <div>
        <p class="home-text">Artically is the reference in matter of independant article publishing.</p>
        <p class="home-text">No subjectivity, only facts!</p>
        <p class="home-text">The articles are all strictly verified and validated by Artically team members.</p>
      </div>
    </div>
    <%= link_to "Explore articles!", posts_path, class:'transparent-btn' %>
  </div>
</div>
